// Variables

// Transitions
$transition-base: .3s ease;

// Fonts
$font-montserrat: 'Montserrat', sans-serif;

// Path
$path-img: '../img/';

// Colors
$color-grey: #60606e; 
$color-grey-light: #e5e5e5;
$color-grey-normal: #9a9a9a;
$color-green: #7beec7;
$color-white: #fff;
$color-black: #000;