//- banner

.banner    
    .banner__content
        h1 our services
        nav(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="#") Home
                li.breadcrumb-item Library