//- subscribe

section.section.section--green.section--half
    .container
        .row
            .col-md-6
                h2.text-white.without-border YOU THINK WE'RE COOL ? LET'S WORK TOGETHER
                a(href="#").btn.btn--white get in touch

            .col-md-6
                .form-wrapper
                    h3 STAY INFORMED WITH OUR NEWSLETTER
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    form.form.form--subscribe(action="")
                        input(type="text" placeholder="your email").form__field
                        input(type="submit" value="send").form__submit.btn